.App {
  text-align: center;
}

.header {
  color: white;
  padding: 1.2em 0;
  padding-left: 20px;
  margin-bottom: 10px;
  min-height: 30px;
  background: #6100ff;
  bottom: 0;
  font-family: 'Fjalla One', Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  color: white;
  font-family: 'Fjalla One', Verdana, Geneva, sans-serif;
  text-align: center;
  justify-content: center;
  line-height: 1.4;
}

.payouts {
  color: white;
  font-size: small;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Fjalla One', Verdana, Geneva, sans-serif;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
}

.myTitle {
  font-size: x-large;
  font-weight: bold;
}

a {
  color: white;
  font-weight: bold;
}

.footer {
  margin-top: 50px;
  color: white;
  padding: 1.2em 0;
  padding-left: 20px;
  background: #6100ff;
  bottom: 0;
  font-family: 'Fjalla One', Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 320px) {
  .description {
    margin-left: 75px;
    margin-right: 75px;
  }
  img {
    width: 250px;
  }
}

@media (min-width: 600px) {
  .description {
    margin-left: 50px;
    margin-right: 50px;
  }
  img {
    width: 500px;
  }
}

@media (min-width: 1500px) {
  .description {
    margin-left: 400px;
    margin-right: 400px;
  }
}
